<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Login">

    <test name="Firefox Test">
        <parameter name="browser" value="Firefox">
        <parameter name="mode" value="hilo">
            <classes>
                <class name="testcase.loginTest">
                    <methods>
                        <include name="loginFailed"/>
                    </methods>
                </class>
                <class name="testcase.loginTest">
                    <methods>
                        <include name="loginSuccess"/>
                    </methods>
                </class>
                    <class name="testcase.sortingTest"/>
                <class name="testcase.checkoutTest"/>
            </classes>
        </parameter>
        </parameter>
    </test> <!-- Test -->

    <test name="Chrome Test">
        <parameter name="browser" value="Chrome">
        <parameter name="mode" value="hilo">
            <classes>
                <class name="testcase.loginTest">
                    <methods>
                        <include name="loginFailed"/>
                    </methods>
                </class>
                <class name="testcase.loginTest">
                    <methods>
                        <include name="loginSuccess"/>
                    </methods>
                </class>
                <class name="testcase.sortingTest"/>
                <class name="testcase.checkoutTest"/>
            </classes>
        </parameter>
        </parameter>
        </test> <!-- Test -->

        <test name="Edge Test">
        <parameter name="browser" value="Edge">
        <parameter name="mode" value="hilo">
            <classes>
                <class name="testcase.loginTest">
                    <methods>
                        <include name="loginFailed"/>
                    </methods>
                </class>
                <class name="testcase.loginTest">
                    <methods>
                        <include name="loginSuccess"/>
                    </methods>
                </class>
                <class name="testcase.sortingTest"/>
                <class name="testcase.checkoutTest"/>
            </classes>
        </parameter>
        </parameter>
    </test> <!-- Test -->

</suite> <!-- Suite -->